# Shared Database
DATABASE_URL="postgresql://deployiq:password@localhost:5432/deployiq_db"

# Auth Service
JWT_SECRET="supersecret_development_key"
PORT_AUTH=3001

# Deployment Service
PORT_DEPLOYMENT=3002

# Monitoring Service
PORT_MONITORING=3003

# Analytics Service (Spring Boot)
SPRING_DATASOURCE_URL="jdbc:postgresql://localhost:5432/deployiq_db"
SPRING_DATASOURCE_USERNAME="deployiq"
SPRING_DATASOURCE_PASSWORD="password"

# Frontend
VITE_API_URL="http://localhost/api"
